.spacer {
    flex: 1 1 auto;
}

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 9999;

    a {
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
        &.active {
            background: rgba(0, 0, 0, 0.2);

            &:hover {
                background: rgba(0, 0, 0, 0.4);
            }
        }
    }
}
