<mat-toolbar color="primary" class="nav-bar mat-elevation-z6">
    <mat-toolbar-row>
        <span style="margin-right: 20px">Skipper bot</span>
        <a mat-button routerLink="overview" routerLinkActive="active"><mat-icon>map</mat-icon> Overview</a>
        <a mat-button routerLink="my-bots" routerLinkActive="active"><mat-icon>directions_boat</mat-icon> My bots</a>
        <a mat-button routerLink="create-new" routerLinkActive="active"><mat-icon>build</mat-icon> Create new</a>
        <a mat-button routerLink="buy-bot" routerLinkActive="active"><mat-icon>local_hospital</mat-icon> Buy bots</a>
        <a mat-button routerLink="sell-bot" routerLinkActive="active"><mat-icon>cloud_upload</mat-icon> Sell bots</a>
        <span class="spacer"></span>
        <a mat-button routerLink="account" routerLinkActive="active"><mat-icon>account_circle</mat-icon> Account</a>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
