mat-card {
    padding: 10px;

    mat-card-title {
        padding-left: 16px;
        padding-bottom: 5px;
        border-bottom: 1px solid #00000060;
    }

    mat-card-content {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    mat-card-actions {
        justify-content: center;

        button {
            width: 120px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}
