.coming {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;

    .header {
        font-size: 200%;
    }

    .description {
        max-width: 300px;
        text-align: justify;
    }
}
