mat-card {
    margin: 20px;
    flex-direction: row;

    &.boot-in {
        background-color: rgba(0, 255, 60, 0.1);
    }

    &.boot-out {
        background-color: rgba(0, 157, 255, 0.1);
    }

    &.hard-stop {
        background-color: rgba(244, 67, 54, 0.1);
    }

    .status-column {
        flex: 0;
        min-width: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            color: white;
            font-weight: bold;

            &.active {
                background-color: #0a9e0a;
            }
            &.disabled {
                background-color: #00000060;
            }
            &.boot-in {
                background-color: rgba(0, 255, 60, 0.3);
                color: #00000080;
            }
            &.boot-out {
                background-color: rgba(0, 157, 255, 0.3);
                color: #00000080;
            }
            &.hard-stop {
                background-color: #f44336;
            }
        }
    }

    .title-column {
        flex: 1;
    }

    .info-column {
        flex: 2;
    }

    .control-column {
        flex: 0;
        min-width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            margin-left: 8px;

            &.play-button {
                background-color: #0a9e0a;
            }
        }
    }
}
